* {
	font-family: 'Fira Sans Condensed', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: #6796b9;
}

a:visited {
	color: #6875cd;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 5px 10px;
	background-color: #3c3f41;
	color: #afb1b3;
	border-bottom: 3px solid #323232;
}

small {
	font-size: 0.6em;
}

main {
	position: relative;
	flex-grow: 1;
	background: #2b2b2b;
	overflow: hidden;
}

#overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.tile {
	position: absolute;
	background-size: 25% 25%;
	background-image:
		linear-gradient(to right, #3c3f41 2px, transparent 2px),
		linear-gradient(to bottom, #3c3f41 2px, transparent 2px);
}

.tile img {
	width: 100%;
	height: 100%;
}
